
<!-- Big Hero Start -->
  <section id="big-hero">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 pl-5">
          <h1 class="display-4 main-text-white">Manage Your Contacts Online</h1>
          <p class="lead sub-text-white">We provide seemless ways to manage your contacts. Keeping them on file and accessible online.</p><a class="btn btn-primary btn-lg main-btn" href="register.html" id="get-started" type="button">Get Started</a>
        </div>
        <div class="offset-lg-1 col-lg-6"> <%= image_tag "intro-img.svg", class: "img-fluid" %> </div>
      </div>
    </div>
  </section>
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mb-4">
          <h1 class="display-5 main-text-blue text-center">Organize Your Contacts At Ease</h1>
          <p class="lead sub-text-blue text-center">Your easy go online address book for with intuitive<br>
          contact management for individuals, teams & small businesses.</p>
        </div>
        <div class="col-lg-5 offset-lg-1"><%= image_tag "list-img.svg", class: "img-fluid" %></div>
        <div class="offset-lg-1 col-lg-5">
          <p class="lead sub-text-blue left">If you’re doing all you can to organize all the people you are communicating with, you’re collecting contacts from different people categories, you might worry that some of your contacts are getting lost in the shuffle? Contact Hub makes it easy for you to:</p>
          <div class="icon-box">
            <i class="fa fa-users fa-2x icon-radius float-left"></i>
            <p class="lead sub-text-blue float-right">Add, update, delete, and segment your contact list online.</p>
          </div>
          <div class="icon-box">
            <i class="fa fa-tasks fa-2x icon-radius float-left"></i>
            <p class="lead sub-text-blue float-right">Categorize your contacts accordingly so you can stay organize with your contact list.</p>
          </div>
          <div class="icon-box">
            <i class="fa fa-book fa-2x icon-radius float-left"></i>
            <p class="lead sub-text-blue float-right">Clean, manage, and grow your list. This app helps you stay organized year round.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- Big Hero End -->

<!-- Testimonials Start -->
  <section id="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="display-5 main-text-blue text-center">Testimonials</h1> <%= image_tag "testimonial.jpg", class: "img-thumbnail img-rounded mx-auto d-block" %>
          <p class="lead sub-text-blue text-center">"I love contact hub. It has been helpful to me so far in managing my contacts.<br>
          I don't worry of loosing my contacts on my phone since I can easily jump on the app and take a<br>
          look on my contacts per category. Definitely recommended."</p>
          <h4 class="testimonials-name">- CHRISTINE JACOBS, Contact Hub User</h4>
        </div>
      </div>
    </div>
  </section>
<!-- Testimonials End -->



 