
<!-- Form Start -->
  <section class="form-contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mx-auto center-box">
             <%= render 'form' %>
        </div>
        </div>
      </div>
    </div>
  </section>
<!-- Form End -->

